// Footer
if title.indexOf("Account Management") === -1
  footer.footer
    .container
      .row.align-items-center
        - let now = new Date
        - let theYear=now.getYear()
        - if (theYear < 1900) theYear=theYear+1900
        .col-lg-4.text-lg-left Copyright &copy; VMO EZ Loan #{theYear}
        .col-lg-4.my-3.my-lg-0.quicklinks
          a.btn.btn-dark.btn-social.mx-2(href='#!')
            i.fab.fa-twitter
          a.btn.btn-dark.btn-social.mx-2(href='#!')
            i.fab.fa-facebook-f
          a.btn.btn-dark.btn-social.mx-2(href='#!')
            i.fab.fa-linkedin-in
        .col-lg-4.text-lg-right
          a.mr-3(href='#!') Privacy Policy
          a(href='#!') Terms of Use
else
  a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up
  #logoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='logoutModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#logoutModalLabel.modal-title Ready to Leave?
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body Select "Logout" below if you are ready to end your current session.
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          a.btn.btn-primary(href='/logout') Logout
  if title.indexOf("Profile") != -1
    #codeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='codeModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#codeModalLabel.modal-title Mobile Number Verification
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          form(method='POST' action='/verifyMobileNum')
            .modal-body
              p VMO EZ Loan will send a text message with a 6-digit verification code.
              .form-row
                .form-group
                  input(type='hidden', name='_csrf', value=_csrf)
                  input(type='hidden', name='mobileNum', value=user.profile.mobileNum)
                  input#code.form-control(type='text' placeholder='Enter code' name='code')
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
              button.btn.btn-primary(type='submit') Verify
  if title.indexOf("Loans") != -1
    #loanModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='loanModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#loanModalLabel.modal-title Loan Application
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          form(method='POST' action='/loans')
            .modal-body
              - let interestRate = (user.type == "Member") ? 3: 5;
              - let totalUsedCreditLimit = (loans) ? loans.reduce((a, b) => parseFloat(a) + parseFloat(b.principalRemaining), 0) : '0.00';
              - let remainingCreditLimit = parseFloat(user.totalCreditLimit) - parseFloat(totalUsedCreditLimit);
              p 
                | The amount that you can borrow varies depending on your submitted documents and credit evaluation. 
                br
                | Continuing Interest of #{interestRate}% per month against Outstanding Balance after the loan terms.
              .form-row.mb-2
                input(type='hidden', name='_csrf', value=_csrf)
                input#loanAmount.form-control(type="number" step="500" min="0" max=remainingCreditLimit name='loanAmount' value=remainingCreditLimit)
              .form-row.mb-2
                select#purposeOfLoan.form-control.selectpicker(type='text' name='purposeOfLoan')
                  option(value='' selected='' disabled='') Purpose of Loan
                  - let purposeOfLoan = ["Living Cost","Educational","Medical/Hospitalization","Purchasing Appliance","Travel/Vacation","Entertainment","Own Business","Wedding","House Repair","Repayments","Others"]
                  for x in purposeOfLoan
                    option(value=x) #{x}
              .form-row.mb-2
                select#loanTerm.form-control.selectpicker(type='text' name='loanTerm')
                  option(value='' selected='' disabled='') Loan Term
                  - let loanTerm = ["6", "12", "18", "24", "30", "36", "42", "48", "54", "60"]
                  for x in loanTerm
                    option(value=x) #{x} months
              .form-row.mb-2
                .custom-control.custom-checkbox
                  input#termsAndCondition.custom-control-input(type='checkbox' name='termsAndCondition' value='false')
                  label.custom-control-label(for='termsAndCondition')
                    | I agree with the 
                    a Terms and Conditions
                    |  of VMO EZ Loan.
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
              button.btn.btn-primary(type='submit') Submit
  if title.indexOf("Loan Details") != -1
    #repaymentModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='repaymentModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#repaymentModalLabel.modal-title Add Repayment
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          form(method='POST')
            .modal-body
              p 
                | You can pay your repayment thru Bank Transfer or G-Cash. Check account numbers below.
                br
                | Please note your confirmation/reference number.
              .form-row.mb-2
                input(type='hidden', name='_csrf', value=_csrf)
                -let amountDue = (schedule.amountDue) ? (schedule.paymentAmount) ? (parseFloat(schedule.amountDue) - parseFloat(schedule.paymentAmount) < 0.00) ? '0.00' : parseFloat(schedule.amountDue) - parseFloat(schedule.paymentAmount) : (parseFloat(schedule.amountDue)).toFixed(2) : '0.00'
                input#amount.form-control(type="text" name='amount' value=amountDue)
              .form-row.mb-2
                input#senderNum.form-control(type="text" name='senderNum' placeholder='Your Account No.')
              .form-row.mb-2
                select#method.form-control.selectpicker(type='text' name='method')
                  option(value='' selected='' disabled='') MOP
                  option(value='Bank Transfer') Bank Transfer
                  option(value='G-Cash') G-Cash
              .form-row.mb-2
                input#receiverNum.form-control(type="text" name='receiverNum' placeholder='Receiver Account No.' disabled)
              .form-row.mb-2
                input#referenceNo.form-control(type="text" name='referenceNo' placeholder='Reference No.')
              .form-row.mb-2
                textarea#message.form-control(name='message' placeholder='Your Message')
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
              button.btn.btn-primary(type='submit') Submit
  if title.indexOf("KYC Declaration") != -1
    #signatureModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='signatureModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#signatureModalLabel.modal-title Signature
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          form
            .modal-body
              .text-center
                #sig
            .modal-footer
              button#clear.btn.btn-secondary(type='button') Clear
              button#redrawButton.btn.btn-primary(type='button' data-dismiss='modal') Done