extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          //- .row
          //-   .col-xl-3.col-md-6.mb-4
          //-     .card.border-left-primary.shadow.h-100.py-2
          //-       .card-body
          //-         .row.no-gutters.align-items-center
          //-           .col.mr-2
          //-             .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
          //-               | Registered Members
          //-             - let members = borrowers.filter(d => d.type == "Member").length;
          //-             .h5.mb-0.font-weight-bold.text-gray-800 #{members}
          //-   .col-xl-3.col-md-6.mb-4
          //-     .card.border-left-info.shadow.h-100.py-2
          //-       .card-body
          //-         .row.no-gutters.align-items-center
          //-           .col.mr-2
          //-             .text-xs.font-weight-bold.text-info.text-uppercase.mb-1
          //-               | Registered Non-Members
          //-             - let nonMembers = borrowers.filter(d => d.type == "Non-Member").length;
          //-             .h5.mb-0.font-weight-bold.text-gray-800 #{nonMembers}
          //-   .col-xl-3.col-md-6.mb-4
          //-     .card.border-left-success.shadow.h-100.py-2
          //-       .card-body
          //-         .row.no-gutters.align-items-center
          //-           .col.mr-2
          //-             .text-xs.font-weight-bold.text-success.text-uppercase.mb-1
          //-               | Pending for Review
          //-             - let forReviews = borrowers.filter(d => d.status == "Pending for Review").length;
          //-             .h5.mb-0.font-weight-bold.text-gray-800 #{forReviews}
          //-   .col-xl-3.col-md-6.mb-4
          //-     .card.border-left-warning.shadow.h-100.py-2
          //-       .card-body
          //-         .row.no-gutters.align-items-center
          //-           .col.mr-2
          //-             .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1
          //-               | Verified
          //-             - let verified = borrowers.filter(d => d.status == "Verified").length;
          //-             .h5.mb-0.font-weight-bold.text-gray-800 #{verified}
          .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
              h6.m-0.font-weight-bold.text-primary List of Borrowers
              .dropdown.no-caret
                button#areaChartDropdownExample.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  svg.feather.feather-more-vertical.text-gray-500(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    circle(cx='12' cy='12' r='1')
                    circle(cx='12' cy='5' r='1')
                    circle(cx='12' cy='19' r='1')
                .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='areaChartDropdownExample' x-placement='top-end' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-116px, -182px, 0px);')
                  if user.userId.type == "Admin"
                    a#addNewBorrower.dropdown-item(href='#' data-toggle='modal' data-target='#') Add New Borrower
                    .dropdown-divider
                  if user.userId.type == "Admin" || (user.userId.type == "Employee" && user.type != "HRD Authorized Officer")
                    a.dropdown-item(href='/download/report/borrowers/all') List of Borrowers
                  a.dropdown-item(href='/download/report/borrowers/members') List of Members
                  if user.userId.type == "Admin" || (user.userId.type == "Employee" && user.type != "HRD Authorized Officer")
                    a.dropdown-item(href='/download/report/borrowers/non-members') List of Non-Members 
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered.table-hover(width='100%' cellspacing='0')
                  thead
                    tr
                      th Borrower No.
                      th Name
                      th Age
                      th Borrower Type
                      th Mobile Number
                      th Email Address
                      th Status
                      th Actions
                  tfoot
                    tr
                      th Borrower No.
                      th Name
                      th Age
                      th Borrower Type
                      th Mobile Number
                      th Email Address
                      th Status
                      th Actions
                  tbody
                    for x in borrowers
                      if !x.isDeleted
                        - let dob = new Date(x.profile.dateOfBirth)
                        - let diff_ms = Date.now() - dob.getTime();
                        - let age_dt = new Date(diff_ms); 
                        - let age = Math.abs(age_dt.getUTCFullYear() - 1970);
                        if user.type == "HRD Authorized Officer"
                          if x.type == "Member"
                            tr
                              td 
                                a(href='/borrowers/'+x._id + '/view') #{x.borrowerNum}
                              td #{x.profile.firstName} #{x.profile.lastName}
                              td #{age}          
                              td #{x.type}          
                              td #{x.profile.mobileNum}          
                              td #{x.profile.email}
                              if x.status == "Basic"
                                td
                                  .badge.badge-primary.badge-pill #{x.status}
                              else if x.status == "Verified"
                                td
                                  .badge.badge-success.badge-pill #{x.status}
                              else if x.status == "Declined"
                                td
                                  .badge.badge-danger.badge-pill #{x.status} 
                              else if x.status == "Pending for Review"
                                td
                                  .badge.badge-warning.badge-pill #{x.status} 
                              td 
                                a.updateBorrower.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2(href=('/'+x._id) data-toggle='modal' data-target='#')
                                  i.fas.fa-edit
                        else
                          tr
                            td 
                              a(href='/borrowers/'+x._id + '/view') #{x.borrowerNum}
                            td #{x.profile.firstName} #{x.profile.lastName}
                            td #{age}          
                            td #{x.type}          
                            td #{x.profile.mobileNum}          
                            td #{x.profile.email}
                            if x.status == "Basic"
                              td
                                .badge.badge-primary.badge-pill #{x.status}
                            else if x.status == "Verified"
                              td
                                .badge.badge-success.badge-pill #{x.status}
                            else if x.status == "Declined"
                              td
                                .badge.badge-danger.badge-pill #{x.status} 
                            else if x.status == "Pending for Review"
                              td
                                .badge.badge-warning.badge-pill #{x.status} 
                            td 
                              a.updateBorrower.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2(href=('/'+x._id) data-toggle='modal' data-target='#')
                                i.fas.fa-edit
                              if user.userId.type == "Admin"
                                a.deleteBorrower.btn.btn-datatable.btn-icon.btn-transparent-dark(href=('/'+x.userId+'/'+x._id+'/'+x.profile.firstName+'/'+x.profile.lastName) data-toggle='modal' data-target='#')
                                  i.fas.fa-trash
    include ../partials/page-footer