extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          .row
            .col-xl-3.col-md-6.mb-4
              .card.border-left-primary.shadow.h-100.py-2
                .card-body
                  .row.no-gutters.align-items-center
                    .col.mr-2
                      .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                        | Borrower No.
                      .h5.mb-0.font-weight-bold.text-gray-800 #{user.borrowerNum}
                    .col-auto
                      i.fas.fa-address-card.fa-2x.text-gray-300
            .col-xl-3.col-md-6.mb-4
              .card.border-left-info.shadow.h-100.py-2
                .card-body
                  .row.no-gutters.align-items-center
                    .col.mr-2
                      .text-xs.font-weight-bold.text-info.text-uppercase.mb-1
                        | Total Used Credit Limit
                      - let totalUsedCreditLimit = (loans) ? loans.filter(({status}) => status != "Declined").reduce((a, b) => parseFloat(a) + parseFloat(b.principalRemaining), 0) : '0.00';
                      .h5.mb-0.font-weight-bold.text-gray-800 ₱ #{totalUsedCreditLimit.toFixed(2)}
                    .col-auto
                      i.fas.fa-receipt.fa-2x.text-gray-300
            .col-xl-3.col-md-6.mb-4
              .card.border-left-success.shadow.h-100.py-2
                .card-body
                  .row.no-gutters.align-items-center
                    .col.mr-2
                      .text-xs.font-weight-bold.text-success.text-uppercase.mb-1
                        | Remaining Credit Limit
                      - let remainingCreditLimit = parseFloat(user.totalCreditLimit) - parseFloat(totalUsedCreditLimit);
                      .h5.mb-0.font-weight-bold.text-gray-800 ₱ #{(remainingCreditLimit).toFixed(2)}
                    .col-auto
                      i.fas.fa-wallet.fa-2x.text-gray-300
            .col-xl-3.col-md-6.mb-4
              .card.border-left-warning.shadow.h-100.py-2
                .card-body
                  .row.no-gutters.align-items-center
                    .col.mr-2
                      .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1
                        | Interest Rate
                      if user.type == 'Non-Member'
                        .h5.mb-0.font-weight-bold.text-gray-800 5.00
                      else
                        .h5.mb-0.font-weight-bold.text-gray-800 3.00
                    .col-auto
                      i.fas.fa-percent.fa-2x.text-gray-300
          .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
              h6.m-0.font-weight-bold.text-primary List of Availed Loan(s)
              .dropdown.no-arrow
                if parseFloat(remainingCreditLimit) > 0.00
                  button.btn.btn-sm.btn-primary(type='button' href='#' data-toggle='modal' data-target='#loanModal') Apply Loan
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered.table-hover(width='100%' cellspacing='0')
                  thead
                    tr
                      th Loan No
                      th Release Date
                      th Maturity Date
                      th Principal
                      th Monthly Payment
                      th Total Principal Paid
                      th Principal Balance
                      th Status
                  tfoot
                    tr
                      th Loan No
                      th Release Date
                      th Maturity Date
                      th Principal
                      th Monthly Payment
                      th Total Principal Paid
                      th Principal Balance
                      th Status
                  tbody
                    for x in loans
                      - let date = (new Date(x.paymentStartDate)).toString().split(' ');
                      - let paymentStartDate =  (x.paymentStartDate) ? date[1] + ' ' + date[2] + ', ' + date[3] : "";
                      - let date2 = (new Date(x.paymentEndDate)).toString().split(' ');
                      - let paymentEndDate =  (x.paymentEndDate) ? date2[1] + ' ' + date2[2] + ', ' + date2[3] : "";
                      tr
                        td
                          a(href='/loans/' + x._id) #{x.loanNum}
                        td #{paymentStartDate}
                        td #{paymentEndDate}
                        td #{(parseFloat(x.loanAmount)).toFixed(2)}
                        td #{(parseFloat(x.monthlyAmortization)).toFixed(2)}
                        td #{(parseFloat(x.totalPrincipalPaid)).toFixed(2)}
                        if x.status == "Declined"
                          td 0.00
                        else
                          td #{(parseFloat(x.principalRemaining)).toFixed(2)}
                        if x.status == "Processing"
                          td
                            .badge.badge-primary.badge-pill #{x.status}
                        else if x.status == "Approved"
                          td
                            .badge.badge-success.badge-pill #{x.status}
                        else if x.status == "Declined"
                          td
                            .badge.badge-danger.badge-pill #{x.status}
                        else if x.status == "Loan Release" || x.status == "Open"
                          td
                            .badge.badge-info.badge-pill #{x.status}
                        else if x.status == "Fully Paid"
                          td
                            .badge.badge-secondary.badge-pill #{x.status}
                        else if x.status == "Loan Debt"
                          td
                            .badge.badge-warning.badge-pill #{x.status}
    include ../partials/page-footer