extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
              h6.m-0.font-weight-bold.text-primary List of Deleted Employees
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered.table-hover(width='100%' cellspacing='0')
                  thead
                    tr
                      th Employee No.
                      th Name
                      th Age
                      th Gender
                      th Employee Type
                      th Mobile Number
                      th Email Address
                  tfoot
                    tr
                      th Employee No.
                      th Name
                      th Age
                      th Gender
                      th Employee Type
                      th Mobile Number
                      th Email Address
                  tbody
                    for x in employees
                      if x.isDeleted
                        - let dob = new Date(x.profile.dateOfBirth)
                        - let diff_ms = Date.now() - dob.getTime();
                        - let age_dt = new Date(diff_ms); 
                        - let age = Math.abs(age_dt.getUTCFullYear() - 1970);
                        tr
                          td #{x.employeeNum}
                          td #{x.profile.firstName} #{x.profile.lastName}
                          td #{age}          
                          td #{x.profile.gender}          
                          td #{x.type}          
                          td #{x.profile.mobileNum}          
                          td #{x.profile.email}
    include ../partials/page-footer