extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
              h6.m-0.font-weight-bold.text-primary List of Employees
              .dropdown.no-caret
                button#areaChartDropdownExample.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  svg.feather.feather-more-vertical.text-gray-500(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    circle(cx='12' cy='12' r='1')
                    circle(cx='12' cy='5' r='1')
                    circle(cx='12' cy='19' r='1')
                .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='areaChartDropdownExample' x-placement='top-end' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-116px, -182px, 0px);')
                  a#addNewEmployee.dropdown-item(href='#' data-toggle='modal' data-target='#addEmployeeModal') Add New Employee
                  .dropdown-divider
                  a.dropdown-item(href='/download/report/employees/all') List of Employees
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered.table-hover(width='100%' cellspacing='0')
                  thead
                    tr
                      th Employee No.
                      th Name
                      th Age
                      th Gender
                      th Employee Type
                      th Mobile Number
                      th Email Address
                      th Actions
                  tfoot
                    tr
                      th Employee No.
                      th Name
                      th Age
                      th Gender
                      th Employee Type
                      th Mobile Number
                      th Email Address
                      th Actions
                  tbody
                    for x in employees
                      if user._id != x._id
                        - let dob = new Date(x.profile.dateOfBirth)
                        - let diff_ms = Date.now() - dob.getTime();
                        - let age_dt = new Date(diff_ms); 
                        - let age = Math.abs(age_dt.getUTCFullYear() - 1970);
                        tr
                          td #{x.employeeNum}
                          td #{x.profile.firstName} #{x.profile.lastName}
                          td #{age}          
                          td #{x.profile.gender}          
                          td #{x.type}          
                          td #{x.profile.mobileNum}          
                          td #{x.profile.email}
                          td 
                            a.updateEmployee.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2(href=('/'+x._id) data-toggle='modal' data-target='#')
                              i.fas.fa-edit
                            a.deleteEmployee.btn.btn-datatable.btn-icon.btn-transparent-dark(href=('/'+x.userId+'/'+x._id+'/'+x.profile.firstName+'/'+x.profile.lastName+'/employee') data-toggle='modal' data-target='#')
                              i.fas.fa-trash
                    for x in admins
                      if user._id != x._id
                        - let dob = new Date(x.profile.dateOfBirth)
                        - let diff_ms = Date.now() - dob.getTime();
                        - let age_dt = new Date(diff_ms); 
                        - let age = Math.abs(age_dt.getUTCFullYear() - 1970);
                        tr
                          td #{x.adminNum}
                          td #{x.profile.firstName} #{x.profile.lastName}
                          td #{age}          
                          td #{x.profile.gender}          
                          td Admin         
                          td #{x.profile.mobileNum}          
                          td #{x.profile.email}
                          td 
                            a.updateEmployee.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2(href=('/'+x._id) data-toggle='modal' data-target='#')
                              i.fas.fa-edit
                            a.deleteEmployee.btn.btn-datatable.btn-icon.btn-transparent-dark(href=('/'+x.userId+'/'+x._id+'/'+x.profile.firstName+'/'+x.profile.lastName+'/admin') data-toggle='modal' data-target='#')
                              i.fas.fa-trash
    include ../partials/page-footer