extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          .card.mb-4
            .card-body
              #wizard2.tab-pane.py-5.py-xl-10.fade.active.show(role='tabpanel' aria-labelledby='wizard2-tab')
                .row.justify-content-center
                  .col-xxl-6.col-xl-8
                    form(method='POST')
                      input(type='hidden', name='_csrf', value=_csrf)
                      fieldset
                        legend.text-primary G-Cash Enrollment
                        .form-row
                          .form-group.col-md-6.mb-md-0
                            label.small.mb-1(for='accountName') G-Cash Account Name
                            input#accountName.form-control(type='text' placeholder='Enter your gcash name' name='accountName' value=(user.account) ? user.account.name : '')
                          .form-group.col-md-6.mb-md-0
                            label.small.mb-1(for='accountNum') G-Cash Account Number
                            .input-group
                              .input-group-prepend
                                span.input-group-text +63
                              input#accountNum.form-control(type='text' placeholder='Enter your gcash account no.' name='accountNum' minlength='10' maxlength='10' value=(user.account) ? user.account.number : '')
                      hr.my-4
                      fieldset
                        legend.text-primary Work / Business Information
                        .form-row
                          .form-group.col-md-12
                            label.small.mb-1(for='companyName') Company Name
                            input#companyName.form-control(type='text' placeholder='Enter your company name' name='companyName' value=(user.workBusinessInfo) ? user.workBusinessInfo.companyName : '')
                        .form-row
                          .form-group.col-md-6
                            label.small.mb-1(for='department') Department
                            input#department.form-control(type='text' placeholder='Enter your department' name='department' value=(user.workBusinessInfo) ? user.workBusinessInfo.department : '')
                          .form-group.col-md-6
                            label.small.mb-1(for='officePhone') Office Phone No.
                            .input-group
                              .input-group-prepend
                                span.input-group-text +63
                              input#officePhone.form-control(type='text' placeholder='Enter your office phone no.' name='officePhone' minlength='9' maxlength='9' value=(user.workBusinessInfo) ? user.workBusinessInfo.officePhone : '')
                        if user.userId.type == "Borrower" && user.type == "Non-Member"
                          .form-row
                            .form-group.col-md-6
                              label.small.mb-1(for='employmentType') Employment Status
                              select#employmentType.form-control.selectpicker(type='text' name='employmentType')
                                option(value='' selected='') Employment Status
                                - let employmentType = ["Regular", "Probation", "Contractual", "Project Based", "Part-Time", "Self-Employed/Freelancer"]
                                for x in employmentType
                                  if (user.workBusinessInfo && x == user.workBusinessInfo.employmentType) 
                                    option(value=x selected) #{x}
                                  else
                                    option(value=x) #{x}
                            .form-group.col-md-6
                              label.small.mb-1(for='occupationType') Occupation Type
                              select#occupationType.form-control.selectpicker(type='text' name='occupationType')
                                option(value='' selected='') Occupation Type
                                - let occupationType = ["Management","Marketing","Sales","Office Worker","Professional/Technical","Service/Reception","Production Worker/Labor","Security/Guard/Maid","Driver","Self Employee/Freelance","Others"]
                                for x in occupationType
                                  if (user.workBusinessInfo && x == user.workBusinessInfo.occupationType) 
                                    option(value=x selected) #{x}
                                  else
                                    option(value=x) #{x}
                          .form-row
                            .form-group.col-md-6
                              label.small.mb-1(for='businessType') Business Type
                              select#businessType.form-control.selectpicker(type='text' name='businessType')
                                option(value='' selected='') Business Type
                                - let businessType = ["BPO/Communications/IT/Mass Media","Retail Sale/Restaurant/Hotel/Tourism/Other Service","Transportation/Shipping/Real Estate","Bank/Insurance/Finance","Government","Construction/Marker/Manufacturing","Trading/Export/Import/Wholesale","Electric/Gas/Waterworks","Medical/Education/School","Security","Agriculture/Forestry/Fisheries/Mining","Others"]
                                for x in businessType
                                  if (user.workBusinessInfo && x == user.workBusinessInfo.businessType) 
                                    option(value=x selected) #{x}
                                  else
                                    option(value=x) #{x}
                            .form-group.col-md-6.mb-md-0
                              label.small.mb-1(for='monthlyIncome') Monthly Income
                              .input-group
                                .input-group-prepend
                                  span.input-group-text ₱
                                input#monthlyIncome.form-control(type='number' min='0' placeholder='Enter your monthly income' name='monthlyIncome' value=(user.workBusinessInfo) ? user.workBusinessInfo.monthlyIncome : '')
                                .input-group-append
                                  span.input-group-text .00
                        .form-row
                          .form-group.col-md-6.mb-md-0
                            label.small.mb-1(for='position') Position
                            select#position.form-control.selectpicker(type='text' name='position')
                              option(value='' selected='') Position 
                              - let position =  ["Director/Executive", "Supervisor", "Officer", "Staff", "None"]
                              for x in position
                                if (user.workBusinessInfo && x == user.workBusinessInfo.position) 
                                  option(value=x selected) #{x}
                                else
                                  option(value=x) #{x}
                          .form-group.col-md-6
                            label.small.mb-1(for='dateHired') Date Hired
                            - let month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                            - let month2 = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
                            - let date = (new Date((user.workBusinessInfo && user.workBusinessInfo.dateHired) ? user.workBusinessInfo.dateHired : '')).toString().split(' ');
                            - let dateHired =  (user.workBusinessInfo && user.workBusinessInfo.dateHired) ? date[3] + '-' + month2[month.indexOf(date[1])] + '-' + date[2] : "";
                            input#dateHired.form-control(type='date' name='dateHired' value=dateHired)
                      hr.my-4
                      fieldset
                        legend.text-primary Workplace Address
                        p Please specify your work/office address.
                        .form-row
                          .form-group.col-md-6
                            label.small.mb-1(for='unitNo') Unit/Room No./Floor Building Name
                            input#unitNo.form-control(type='text' placeholder='Enter your Unit/Room No./Floor Building Name' name='unitNo' value=(user.workBusinessInfo && user.workBusinessInfo.officeAddress) ? user.workBusinessInfo.officeAddress.unitNo : '')
                          .form-group.col-md-6
                            label.small.mb-1(for='houseNo') Lot/Block/House No.
                            input#houseNo.form-control(type='text' placeholder='Enter your Lot/Block/House No.' name='houseNo' value=(user.workBusinessInfo && user.workBusinessInfo.officeAddress) ? user.workBusinessInfo.officeAddress.houseNo : '')
                        .form-row
                          .form-group.col-md-6
                            label.small.mb-1(for='street') Street
                            input#street.form-control(type='text' placeholder='Enter your Street' name='street' value=(user.workBusinessInfo && user.workBusinessInfo.officeAddress) ? user.workBusinessInfo.officeAddress.street : '')
                          .form-group.col-md-6
                            label.small.mb-1(for='subdivision') Subdivision Village
                            input#subdivision.form-control(type='text' placeholder='Enter your Subdivision Village' name='subdivision' value=(user.workBusinessInfo && user.workBusinessInfo.officeAddress) ? user.workBusinessInfo.officeAddress.subdivision : '')
                        .form-row
                          .form-group.col-md-6
                            label.small.mb-1(for='barangay') Barangay Clearance/Utility Bill
                            input#barangay.form-control(type='text' placeholder='Enter your Barangay Clearance/Utility Bill' name='barangay' value=(user.workBusinessInfo && user.workBusinessInfo.officeAddress) ? user.workBusinessInfo.officeAddress.barangay : '')
                          .form-group.col-md-6
                            label.small.mb-1(for='city') City/Municipality
                            input#city.form-control(type='text' placeholder='Enter your City/Municipality' name='city' value=(user.workBusinessInfo && user.workBusinessInfo.officeAddress) ? user.workBusinessInfo.officeAddress.city : '')
                        .form-row
                          .form-group.col-md-6.mb-md-0
                            label.small.mb-1(for='province') Province
                            input#province.form-control(type='text' placeholder='Enter your Province' name='province' value=(user.workBusinessInfo && user.workBusinessInfo.officeAddress) ? user.workBusinessInfo.officeAddress.province : '')
                          .form-group.col-md-6.mb-md-0
                            label.small.mb-1(for='zipCode') Zip Code
                            input#zipCode.form-control(type='text' placeholder='Enter your Zip Code' name='zipCode' value=(user.workBusinessInfo && user.workBusinessInfo.officeAddress) ? user.workBusinessInfo.officeAddress.zipCode : '')
                      hr.my-4
                      .d-flex.justify-content-between
                        a.btn.btn-light(type='button' href='/verifications') Back
                        button.btn.btn-primary(type='submit') Submit
    include ../partials/page-footer