extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
              h6.m-0.font-weight-bold.text-primary List of Inquiries
              .dropdown.no-arrow
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered.table-hover(width='100%' cellspacing='0')
                  thead
                    tr
                      th Inquiry No.
                      th Name
                      th Email Address
                      th Messages
                      th Status
                      th Actions
                  tfoot
                    tr
                      th Inquiry No.
                      th Name
                      th Email Address
                      th Messages
                      th Status
                      th Actions
                  tbody
                    for x in inquiries
                      tr
                        td #{x.inquiryNum}
                        td #{x.firstName} #{x.lastName}         
                        td #{x.email}
                        td #{x.message}
                        if x.response && x.response.message
                          td
                            .badge.badge-primary.badge-pill Message sent
                        else
                          td
                            .badge.badge-warning.badge-pill Pending
                        td 
                          a.updateInquiry.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2(href=('/'+x._id+'/'+x.inquiryNum+'/'+x.firstName+' '+x.lastName+'/'+x.email+'/'+x.message) data-toggle='modal' data-target='#')
                            i.fas.fa-edit
                          a.deleteInquiry.btn.btn-datatable.btn-icon.btn-transparent-dark(href=('/'+x._id+'/'+x.inquiryNum+'/'+x.firstName+' '+x.lastName) data-toggle='modal' data-target='#')
                            i.fas.fa-trash
    include ../partials/page-footer