extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
              h6.m-0.font-weight-bold.text-primary List of Loans
              .dropdown.no-caret
                button#areaChartDropdownExample.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  svg.feather.feather-more-vertical.text-gray-500(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    circle(cx='12' cy='12' r='1')
                    circle(cx='12' cy='5' r='1')
                    circle(cx='12' cy='19' r='1')
                .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='areaChartDropdownExample' x-placement='top-end' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-116px, -182px, 0px);')
                  a#addNewLoan.dropdown-item(href='#' data-toggle='modal' data-target='#addLoanModal') Add New Loan
                  .dropdown-divider
                  a.dropdown-item(href='/download/report/loans/all') List of Loans
                  a.dropdown-item(href='/download/report/loans/maturityDue') List of Past Maturity Date
                  a.dropdown-item(href='/download/report/loans/currentDue') List of Current Due
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered.table-hover(width='100%' cellspacing='0')
                  thead
                    tr
                      th 
                        | Borrower Name
                        br
                        | Loan No.
                      th Borrower Type
                      th Release Date
                      th Maturity Date
                      th Principal
                      th Monthly Payment
                      th Principal Balance
                      th Status
                      th Actions
                  tfoot
                    tr
                      th 
                        | Borrower Name
                        br
                        | Loan No.
                      th Borrower Type
                      th Release Date
                      th Maturity Date
                      th Principal
                      th Monthly Payment
                      th Principal Balance
                      th Status
                      th Actions
                  tbody
                    for x in loans
                      - let borrowerName = x.requestedBy.profile.firstName + ' ' + x.requestedBy.profile.lastName;
                      - let date = (new Date(x.paymentStartDate)).toString().split(' ');
                      - let paymentStartDate =  (x.paymentStartDate) ? date[1] + ' ' + date[2] + ', ' + date[3] : "";
                      - let date2 = (new Date(x.paymentEndDate)).toString().split(' ');
                      - let paymentEndDate =  (x.paymentEndDate) ? date2[1] + ' ' + date2[2] + ', ' + date2[3] : "";
                      tr
                        td
                          | #{borrowerName}
                          br
                          a(href='/loans/' + x._id)  #{x.loanNum}
                        td #{x.requestedBy.type}
                        td #{paymentStartDate}
                        td #{paymentEndDate}
                        td #{(parseFloat(x.loanAmount)).toFixed(2)}
                        td #{(parseFloat(x.monthlyAmortization)).toFixed(2)}
                        td #{(parseFloat(x.principalRemaining)).toFixed(2)}
                        if x.status == "Processing"
                          td
                            .badge.badge-primary.badge-pill #{x.status}
                        else if x.status == "Approved"
                          td
                            .badge.badge-success.badge-pill #{x.status}
                        else if x.status == "Declined"
                          td
                            .badge.badge-danger.badge-pill #{x.status}
                        else if x.status == "Loan Release" || x.status == "Open"
                          td
                            .badge.badge-info.badge-pill #{x.status}
                        else if x.status == "Fully Paid"
                          td
                            .badge.badge-secondary.badge-pill #{x.status}
                        else if x.status == "Loan Debt"
                          td
                            .badge.badge-warning.badge-pill #{x.status}
                        td 
                          a.updateLoan.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2(href=('/'+x._id) data-toggle='modal' data-target='#')
                            i.fas.fa-edit
                          a.deleteLoan.btn.btn-datatable.btn-icon.btn-transparent-dark(href=('/'+x._id+'/'+x.loanNum+'/'+borrowerName) data-toggle='modal' data-target='#')
                            i.fas.fa-trash
    include ../partials/page-footer