extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          .card.mb-4
            .card-body
              #wizard2.tab-pane.py-5.py-xl-10.fade.active.show(role='tabpanel' aria-labelledby='wizard2-tab')
                .row.justify-content-center
                  .col-xxl-6.col-xl-8
                    h3.text-primary Personal Information
                    h5.card-title Enter your personal details
                    form(method='POST')
                      input(type='hidden', name='_csrf', value=_csrf)
                      .form-row
                        .form-group.col-md-4.mb-4
                          label.small.mb-1(for='firstName') First name
                          input#firstName.form-control(type='text' placeholder='Enter your first name'  name='firstName' value=user.profile.firstName)
                        .form-group.col-md-4.mb-4
                          label.small.mb-1(for='middleName') Middle name
                          input#middleName.form-control(type='text' placeholder='Enter your middle name' name='middleName' value=user.profile.middleName)
                        .form-group.col-md-4.mb-4
                          label.small.mb-1(for='lastName') Last name
                          input#lastName.form-control(type='text' placeholder='Enter your last name' name='lastName' value=user.profile.lastName)
                      .form-row
                        .form-group.col-md-4.mb-4
                          label.small.mb-1(for='gender') Gender
                          select#gender.form-control.selectpicker(type='text' name='gender')
                            option(value='' selected='' disabled='') Gender
                            - let gender = ['Female', 'Male']
                            for x in gender
                              if (x == user.profile.gender) 
                                option(value=x selected) #{x}
                              else
                                option(value=x) #{x}
                        .form-group.col-md-4.mb-4
                          label.small.mb-1(for='dateOfBirth') Birthdate
                          - let month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                          - let month2 = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
                          - let date = (new Date(user.profile.dateOfBirth)).toString().split(' ');
                          - let dateOfBirth =  (user.profile.dateOfBirth) ? date[3] + '-' + month2[month.indexOf(date[1])] + '-' + date[2] : "";
                          input#dateOfBirth.form-control(type='date' placeholder='Enter your birthday' name='dateOfBirth' value=dateOfBirth)
                        .form-group.col-md-4.mb-4
                          label.small.mb-1(for='maritalStat') Civil Status
                          select#maritalStat.form-control.selectpicker(type='text' name='maritalStat')
                            option(value='' selected='') Civil Status
                            - let maritalStat = ["Single", "Married", "Widow/er", "Legally Seperated", "Annuled"]
                            for x in maritalStat
                              if (x == user.profile.maritalStat) 
                                option(value=x selected) #{x}
                              else
                                option(value=x) #{x}
                      if user.userId.type == "Borrower" && user.type == "Non-Member"
                        .form-row
                          .form-group.col-md-4.mb-4
                            label.small.mb-1(for='dependents') No. of dependents
                            input#dependents.form-control(type='text' placeholder='Enter no. of dependents' name='dependents' value=user.profile.dependents)
                          .form-group.col-md-4.mb-4
                            label.small.mb-1(for='educAttainment') Educational Attainment
                            select#educAttainment.form-control.selectpicker(type='text' name='educAttainment')
                              option(value='' selected='') Educational Attainment
                              - let educAttainment = ["High School", "Vocational/Technical", "College", "Post Graduate", "Others"]
                              for x in educAttainment
                                if (x == user.profile.educAttainment) 
                                  option(value=x selected) #{x}
                                else
                                  option(value=x) #{x}
                          .form-group.col-md-4.mb-4
                            label.small.mb-1(for='placeOfBirth') Place of Birth
                            input#placeOfBirth.form-control(type='text' placeholder='Enter your place of birth' name='placeOfBirth' value=user.profile.placeOfBirth)
                      .form-row
                        if user.userId.type == "Borrower" && user.type == "Member"
                          .form-group.col-md-4.mb-md-0
                            label.small.mb-1(for='nameOfSpouse') Name of Spouse
                            input#nameOfSpouse.form-control(type='text' placeholder='Enter your spouse name' name='nameOfSpouse' value=user.profile.nameOfSpouse)
                        if user.userId.type == "Borrower" && user.type == "Non-Member"
                          .form-group.col-md-4.mb-md-0
                            label.small.mb-1(for='nationality') Nationality
                            input#nationality.form-control(type='text' placeholder='Enter your nationality' name='nationality' value=user.profile.nationality)
                        .form-group.col-md-4.mb-4
                          label.small.mb-1(for='homePhoneNum') Home Phone Number
                          .input-group
                            .input-group-prepend
                              span.input-group-text +63
                            input#homePhoneNum.form-control(type='text' placeholder='Enter your mobile number' name='homePhoneNum' minlength='9' maxlength='9' value=user.profile.homePhoneNum)
                        .form-group.col-md-4.mb-4
                          label.small.mb-1(for='mobileNum') Mobile Number
                          .input-group
                            .input-group-prepend
                              span.input-group-text +63
                            input#mobileNum.form-control(type='text' placeholder='Enter your mobile number' name='mobileNum' minlength='10' maxlength='10' value=user.profile.mobileNum)
                      .form-row
                        if user.userId.type == "Borrower" && user.type == "Member"
                          .form-group.col-md-4.mb-md-0
                            label.small.mb-1(for='employeeID') Employee ID
                            input#employeeID.form-control(type='text' name='employeeID' value=user.employeeID disabled='')
                        .form-group.col-md-4.mb-md-0
                          label.small.mb-1(for='tin') TIN ID
                          input#tin.form-control(type='text' placeholder='Enter your TIN ID' name='tin' maxlength='15' value=user.profile.tin)
                        if user.userId.type == "Borrower" && user.type == "Member"
                          .form-group.col-md-4.mb-md-0
                            label.small.mb-1(for='email') Email address
                            input#email.form-control(type='email' placeholder='Enter your email address' name='email' value=user.profile.email)
                        if user.userId.type == "Borrower" && user.type == "Non-Member"
                          .form-group.col-md-8.mb-md-0
                            label.small.mb-1(for='email') Email address
                            input#email.form-control(type='email' placeholder='Enter your email address' name='email' value=user.profile.email)
                      hr.my-4
                      .d-flex.justify-content-between
                        a.btn.btn-light(type='button' href='/verifications') Back
                        button.btn.btn-primary(type='submit') Submit
    include ../partials/page-footer