extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
              h6.m-0.font-weight-bold.text-primary List of Transactions
              .dropdown.no-caret
                button#areaChartDropdownExample.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  svg.feather.feather-more-vertical.text-gray-500(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    circle(cx='12' cy='12' r='1')
                    circle(cx='12' cy='5' r='1')
                    circle(cx='12' cy='19' r='1')
                .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='areaChartDropdownExample' x-placement='top-end' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-116px, -182px, 0px);')
                  a#addNewTransaction.dropdown-item(href='#' data-toggle='modal' data-target='#addTransactionModal') Add New Transaction
                  .dropdown-divider
                  a.dropdown-item(href='/download/report/transactions/all') List of Transactions
                  a.dropdown-item(href='/download/report/transactions/release') List of Loans Release 
                  a.dropdown-item(href='/download/report/transactions/repayments') List of Repayments
                  a.dropdown-item(href='/download/report/transactions/contributions') List of Contributions
                  a.dropdown-item(href='/download/report/transactions/withdrawals') List of Withdrawals
                  a.dropdown-item(href='/download/report/transactions/fees') List of Membership Fees
                  a.dropdown-item(href='/download/report/transactions/expenses') List of Expenses
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered.table-hover(width='100%' cellspacing='0')
                  thead
                    tr
                      th Transaction No.
                      th Payment Date
                      th Payment Amount
                      th Type
                      th GCash Ref No.
                      th Sender Number
                      th Receiver Number 
                      th Posted Date
                      th Status
                      th Actions
                  tfoot
                    tr
                      th Transaction No.
                      th Payment Date
                      th Payment Amount
                      th Type
                      th GCash Ref No.
                      th Sender Number
                      th Receiver Number 
                      th Posted Date
                      th Status
                      th Actions
                  tbody
                    for x in transactions
                      tr
                        td #{x.transactionNum}
                        - let date = (new Date(x.createdAt)).toString().split(' ');
                        - let createdAt =  (x.createdAt) ? date[1] + ' ' + date[2] + ', ' + date[3] : "";
                        td #{createdAt}
                        td #{(parseFloat(x.amount)).toFixed(2)}
                        td #{x.type} 
                        td #{x.referenceNo} 
                        td #{x.senderNum}
                        td #{x.receiverNum}
                        - let date2 = (new Date(x.postedDate)).toString().split(' ');
                        - let postedDate =  (x.postedDate && x.status == "Posted") ? date2[1] + ' ' + date2[2] + ', ' + date2[3] : "";
                        td #{postedDate}
                        if x.status == "Processing"
                          td
                            .badge.badge-primary.badge-pill #{x.status}
                        else if x.status == "Posted"
                          td
                            .badge.badge-success.badge-pill #{x.status}
                        td 
                          a.updateTransaction.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2(href=('/'+x._id) data-toggle='modal' data-target='#')
                            i.fas.fa-edit
                          if user.userId.type == "Admin"
                            - let transactionId = (x.type == 'Contributions' || x.type == 'Expenses') ? '/'+x._id+'/'+x.transactionNum : '/'+x.transactionNum;
                            a.deleteTransaction.btn.btn-datatable.btn-icon.btn-transparent-dark(href=transactionId data-toggle='modal' data-target='#')
                              i.fas.fa-trash
    include ../partials/page-footer